{% extends 'adminBase.html' %}
{% load static %}

{% block title %}Administración de Usuarios{% endblock %}

{% block sidebar %}
<hr>
<li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#createUserModal"><i
      class="bi bi-plus"></i>Añadir Usuario</a></li>
<hr>
{% endblock %}

{% block content %}

<div class="container mt-5 pt-4">
  <div class="row">
    <h4>Buscar Usuarios</h4>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <br>
    <div class="col-md-12">
      <h4>Lista de Usuarios</h4>
      <table class="table table-dark table-bordered table-hover table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Personaje</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ usuario.nombre}}</td>
            <td>{{ usuario.correo }}</td>
            <td>
              {% if usuario.personaje %}
              {{ usuario.personaje.nombre }}
              {% else %}
              vacío
              {% endif %}
            </td>
            <td>
              {% if usuario.rol %}
              {{ usuario.rol }}
              {% else %}
              usuario
              {% endif %}
            </td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm" onclick="eliminarUsuario('{{ usuario.id }}')">
                <i class="bi bi-trash"></i> Eliminar
              </button>

            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3" class="text-center text-muted">No hay usuarios registrados</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function eliminarUsuario(usuarioId) {
    if (!confirm("¿Estás seguro de que deseas eliminar este usuario?")) return;

    fetch("{% url 'delete_users' %}", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: `usuario_id=${usuarioId}`,
    })
      .then(response => response.json())
      .then(data => {
        if (data.mensaje) {
          alert(data.mensaje);
          location.reload(); // refrescar lista
        } else {
          alert(data.error || "Error desconocido");
        }
      })
      .catch(error => console.error("Error:", error));
  }
</script>

{% endblock %}