<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top text-light">
  <div class="col mb-3">
    <a href="/" class="d-flex align-items-center mb-3 text-light text-decoration-none">
      <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <p class="text-light mb-0">© 2025 FightClubCafe</p>
  </div>

  <div class="col mb-3"></div>

  <div class="col mb-3">
    <h5>Sección</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-light">Ver Sitio</a></li>
      <li class="nav-item mb-2"><a href="{% url 'administrator' %}" class="nav-link p-0 text-light">Inicio</a></li>
      <li class="nav-item mb-2"><a href="{% url 'admin_users' %}" class="nav-link p-0 text-light">Usuarios</a></li>
      <li class="nav-item mb-2"><a href="{% url 'admin_characters' %}" class="nav-link p-0 text-light">Personajes</a></li>
      <li class="nav-item mb-2"><a href="/faqs" class="nav-link p-0 text-light">Items</a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Redes sociales</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Facebook</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Instagram</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Twitter</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">YouTube</a></li>
    </ul>
  </div>
</footer>
