{% extends 'base.html' %}
{% load static %}

{% block title %}Fight Club Cafe{% endblock %}

{% block content %}


<!-- ============================
      HERO FULLSCREEN PRINCIPAL
=============================== -->
<section class="hero-fullscreen fade-in">
  <div class="container px-4">
    <h4>No importa quién seas.
      <br>
      No importa de dónde vengas.
      <br>
      No importa por qué bajaste los escalones que llevan a este submundo.
      <br>
      Ya no eres un visitante.
      <br><br>
      Eres un combatiente.

      Bienvenido a...
    </h4>
    <h1 class="text-naranja-brillante">Fight Club Café</h1>
    <h2>Jugadores</h2>
    <h1 class="text-naranja-brillante">{{ usuarios_count }}</h1>
  </div>
</section>



<!-- ============================
      PRIMERA DUPLA (Deck izquierda / Hero derecha)
=============================== -->
<section class="dual-section">

  <div class="half">
    <h1 class="text-center">Personajes</h1>
    <div class="deck-container mt-5">
      {% for personaje in personajes %}
      <div class="deck-card">
        <img src="{{ personaje.imagen }}" alt="{{ personaje.nombre }}">
        <div class="deck-info">
          <h3>{{ personaje.nombre }}</h3>
          <p><strong>Descripción:</strong> {{ personaje.descripcion }}</p>
          <p><strong>Daño:</strong> {{ personaje.dano }}</p>
          <p><strong>Velocidad:</strong> {{ personaje.velocidad }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="half">
    <section class="hero-side fade-in">
      <div>
        <h1 class="text-center mb-4">Historia</h1>

        <div class="lore-container">
          <div class="lore-card">
            En las entrañas de la ciudad de Grano Oscuro, más abajo de los callejones donde se esconde el humo y la
            miseria, existe un lugar al que nadie llega por accidente. Un sitio del que se susurra en los mercados, que
            se teme en las tabernas, y que ni los borrachos más valientes se atreverían a mencionar sin voltear a ver si
            alguien escucha.

            Ese lugar se llama La Caferna.

            No aparece en ningún mapa, y nadie sabe quién la construyó. Algunos dicen que fue un gremio de baristas
            monjes que buscaban refugio del mundo; otros aseguran que sus muros fueron levantados por luchadores
            renegados, escapando de la justicia. Lo único que todos coinciden es que La Caferna no invita—escoge.

            Sus puertas solo se abren para quienes llevan algo hirviendo en el alma: rencor, ambición, desesperación, o
            simplemente una sed tan profunda que ni el café más amargo podría saciar.

            Dentro, el ambiente es espeso, cargado del aroma a granos tostados y sudor viejo. Vasos rotos adornan el
            suelo como cicatrices, mientras la barra, hecha de madera centenaria, vibra con cada impacto que retumba
            desde la arena central. Nadie entra buscando café.
            Pero todos terminan necesitándolo.

            Porque en La Caferna, el café no es una bebida.
            Es poder.
            <br><br>Es poder.
          </div>

          <img src="{% static 'img/2.png' %}" alt="imagen" class="lore-img">
        </div>
      </div>
    </section>
  </div>

</section>

<section class="dual-section">

  <div class="half">
    <section class="hero-side fade-in">
      <div>
        <h1 class="text-center mb-4">Los Diez Granos</h1>

        <div class="lore-container">
          <div class="lore-card">
            Cuenta la leyenda que, en lo más profundo de la Caferna, existe un molino antiguo que nunca ha dejado de
            girar. Nadie lo ha visto funcionar, pero todas las noches se oye su ronquido metálico, como si dentro
            viviera un monstruo dormido, alimentado por granos que jamás crecieron a la luz del sol.

            Dicen que el café que produce no es normal.
            Que puede acelerar el corazón hasta hacer ver el futuro.
            Que vuelve el golpe más torpe en un misil.
            Que, si lo tomas en exceso… puedes despertar a algo dentro de ti que no sabías que estaba vivo.

            A ese poder se le conoce como Los Diez Granos.

            Y para controlar ese poder, se creó un torneo.
          </div>

          <img src="{% static 'img/3.png' %}" alt="imagen" class="lore-img">
        </div>
      </div>
    </section>
  </div>

  <div class="half">
    <h1 class="text-center">Items</h1>
    <div class="deck-container mt-4">
      {% for item in items %}
      <div class="deck-card">
        <img src="{{ item.imagen }}" alt="{{ item.nombre }}">
        <div class="deck-info">
          <h3>{{ item.nombre }}</h3>
          <p><strong>Duración:</strong> {{ item.duracion }}</p>
          <p><strong>Daño:</strong> {{ item.aumentoDano }}</p>
          <p><strong>Velocidad:</strong> {{ item.aumentoVelocidad }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</section>

{% include 'rol.html' %}

{% endblock %}