<div class="modal fade" id="myAccountModal" tabindex="-1" aria-labelledby="myAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="myAccountModalLabel">Mi cuenta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>

                    <fieldset disabled>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Nombre</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                placeholder="{{ current_user.nombre }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Correo</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                placeholder="{{ current_user.correo }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Contraseña</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                placeholder="{{ current_user.contraseña }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Personaje</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                placeholder="{{ current_user.personaje.nombre }}">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
